{% extends "base.html" %}
{% load static %}
{% block title %}НЕГИЗГИ БЕТ{% endblock%}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style_pages/home.css' %}">
{% endblock %}

{% block content%}
<div class="container_home">
    <div class="home_title_container">
        <div class="home_title">КЫРГЫЗ ТИЛИН</div>
        <div class="home_description">БИРГЕ ҮЙРӨНӨЛҮ !</div>
        <div class="home_title_text">«Тил — бул элдин жүрөгү.<br>Кыргыз тилин үйрөнүү — бул маданиятты түшүнүү.»</div>
        {% if user.is_authenticated %}
        <div class="button_register_a"><a class="button_register" href="{% url 'signup' %}" style="display: none">БАШТОО</a></div>
        <div class="home_description_name"> Салам, &nbsp{{ user.username }} !</div>
        <div class="home_title_txt">Үйрөнүүнү азыр башта !</div>
        {% else %}
        <div class="button_register_a"><a class="button_register" href="{% url 'signup' %}">БАШТОО</a></div>
        {% endif%}
    </div>
</div>
{% endblock%}