* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", system-ui, sans-serif;
    background: #480000;
}

.container {
    position: relative;
    width: 97%;
    max-width: 1500px;
    margin: 0 auto;
    background: #5D0000;
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    background: #850000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 55px;
    height: 55px;
    margin: 0 0 0 20px;
}

.logo_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.logo_title {
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 20px;
}

.header_icon {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav {
    width: 700px;
    height: 100%;
    position: relative;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 0;
}

li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 3px;
    width: 0;
    background-color: white;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

li a:hover::after,
li a.active::after {
    width: 100%;
    box-shadow: 0 0 5px white;
}


.home_description_name {
    margin-top: 70px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: "Playfair", serif;
}

.button_icon_container {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button_icon {
    font-size: 40px;
    color: white;
    margin: 0 20px 0 0;
    text-decoration: none;
}

footer {
    background: #a41515;
    color: white;
}

footer .text_footer {
    font-size: 17px;
    font-weight: normal;
}

.footer_container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 100px;
    gap: 30px;
}

.footer_container .logo {
    padding: 0;
    margin: 0;
}

.text_footer {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.my_menu_right_black_back {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 9998;
    display: none;
    transition: opacity 0.3s ease;
}


.my_menu_right_black_back.active {
    opacity: 0.8;
}

.my_menu_right {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #3F0000;
    z-index: 9999;
    box-shadow: -5px 0 25px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.my_menu_right.active {
    right: 0;
}

.menu_right_header {
    width: 100%;
    height: 80px;
    background: #850000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_menu_right {
    width: 250px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}

.exit_menu_right {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exit_menu_right {
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.exit_menu_right2 a {
    text-decoration: none;
    color: white;
}

.menu_right_container {
    width: 100%;
    margin: 10px 0 0 0;
    height: 100%;
}

.menu-content {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.menu_right_container a {
    text-decoration: none;
    color: white;
}

.menu-content:hover {
    background: #a41515;
}

.profile_img {
    width: 60px;
    height: 60px;
}

.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user_name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: white;
    margin: 0 0 0 10px;
}

.menu_right_container2 {
    width: 95%;
    margin: 10px auto;
    height: 100%;
    background: #6c0303;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    display: none;
}

.inputs {
    height: 100%;
    width: 94%;
    margin: auto;
}

.inputs_elements_text {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs_elements input {
    margin: 10px auto;
    width: 100%;
    background: #3F0000;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: border 0.3s ease;
}

.inputs_elements input:focus {
    border: 1px solid #a41515;
    outline: none;
}

.inputs_elements_file input {
    width: 100%;
    height: 40px;
}

.file-label {
    display: inline-block;
    padding: 12px 20px;
    text-align: center;
    background-color: #a41515;
    color: white;
    width: 280px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #a41515;
}

.file-input {
    display: none;
}

.inputs_elements_foto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_save {
    width: 100%;
    height: 50px;
    background: #a41515;
    color: white;
    font-size: 20px;
    border: none;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 10px black;
}

.button_save:hover {
    background: #5D0000;
    color: #bdbdbd;
}