{% extends "base.html"%}
{% load static%}
{% block title %}Login{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style_pages/login.css' %}">
<link rel="stylesheet" href="{% static 'js/login.js' %}">
{% endblock %}
{% block content %}
<div class="form_container">

    <form class="form_container_block" id="loginForm" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form_container_block22">
            <div class="title_form">КИРҮҮ</div>

            <div class="form-group">
                <label for="login_username_email"></label>
                <input type="text" id="login_username_email" name="username_or_email" class="form-control"
                       placeholder="ПОЧТАҢЫЗ же АТЫҢЫЗ">
            </div>

            <div class="form-group">
                <label for="login_password"></label>
                <input type="password" id="login_password" name="password" class="form-control"
                       placeholder="СЫР СӨЗҮҢҮЗ">
            </div>

            <div class="btn-submit-container">
                <button type="submit" class="btn-submit">КИРҮҮ</button>
            </div>
            {% if form.errors %}
            <div class="form-errors" style="color: red; margin-top: 10px;">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div>{{ error }}</div>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <div id="loginErrors" class="form-errors"></div>
            <div class="login_signup_text"><a href="{% url 'signup'%}">КАТТАЛА ЭЛЕКСИЗБИ ?</a></div>
        </div>
    </form>

</div>

{% endblock %}

