{% extends "base.html"%}
{% load static%}
{% block title %}Login{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style_pages/signup.css' %}">
<link rel="stylesheet" href="{% static 'js/register.js' %}">
{% endblock %}
{% block content %}
<div class="form_container">

    <form class="form_container_block" id="signupForm" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="form_container_block2">
            <div class="title_form">КАТТАЛУУ</div>

            <div class="form-group">
                <label for="signup_username"></label>
                <input type="text" id="signup_username" name="username" class="form-control" placeholder="АТЫҢЫЗ">
            </div>

            <div class="form-group">
                <label for="signup_email"></label>
                <input type="email" id="signup_email" name="email" class="form-control" placeholder="ПОЧТАҢЫЗ">
            </div>

            <div class="form-group">
                <label for="signup_password1"></label>
                <input type="password" id="signup_password1" name="password1" class="form-control"
                       placeholder="СЫР СӨЗҮҢҮЗ">
            </div>

            <div class="form-group">
                <label for="signup_password2"></label>
                <input type="password" id="signup_password2" name="password2" class="form-control"
                       placeholder="СЫР СӨЗҮҢҮЗДҮ КАЙТАЛАҢЫЗ">
            </div>

            <div class="btn-submit-container">
                <button type="submit" class="btn-submit">КАТТАЛУУ</button>
            </div>
            {% if form.errors %}
            <div class="form-errors">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                {% if "This field is required" in error %}
                <p>{{ field }} талаасы милдеттүү түрдө толтурулушу керек!</p>
                {% elif "Enter a valid email address" in error %}
                <p>Туура электрондук почтаны жазыңыз!</p>
                {% else %}
                <p>{{ error }}</p>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
             <div class="login_signup_text"><a href="{% url 'login'%}">КАТТАЛГАНСЫЗБЫ ?</a></div>
            </div>
    </form>

</div>

{% endblock %}
