.alphabet_container {
    width: 98%;
    height: 100%;
    margin: 30px auto;
    box-shadow: 0 0 10px black inset;
    display: grid;
    background: #5D0000;
    grid-template-columns: auto auto auto auto auto;
    border-radius: 10px;
    transition: 0.2s ease;
}

.alphabet_container:hover {
    background: #3F0000;
}

.container_grid {
    width: 250px;
    height: 250px;
    background: #5D0000;
    box-shadow: 0 0 10px black;
    margin: 20px auto;
    border-radius: 10px 10px 150px 10px;
    transition: 0.2s ease;
}

.container_grid:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px black;
    background: #a41515;
    text-shadow: 0 0 10px white;
}

.voice_alphabet {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image_alphabet {
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter_alphabet {
    color: white;
    font-family: "Poppins", serif;
    font-size: 55px;
    font-weight: bold;
}

.voice_letter {
    width: 50px;
    height: 50px;
    background: #a41515;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: background 0.3s;
}

.voice_letter:hover {
    background: #c82020;
}

.letter_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 480px) {
    .alphabet_container {
        margin: 10px auto;
        box-shadow: 0 0 5px black inset;
        grid-template-columns: auto auto auto;
        border-radius: 5px;
    }

    .container_grid {
        width: 100px;
        height: 100px;
        box-shadow: 0 0 5px black;
        margin: 10px auto;
        border-radius: 5px 5px 40px 5px;
        transition: 0.2s ease;
    }

    .container_grid:hover {
        text-shadow: 0 0 5px white;
    }

    .voice_alphabet {
        width: 100%;
        height: 50px;
    }

    .image_alphabet {
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    .letter_alphabet {
        font-size: 25px;
    }

    .voice_letter {
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
    }

}