
.container_home {
    background: url("../../images/back_home.png");
    background-size: cover;
    position: relative;
    height: 800px;
    margin-top: 10px ;
}

.container_home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 500px;
    width: 1200px;
    height: 800px;
    background: url("../../images/flug.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    animation: filterFlag 5s ease infinite;
    transition: 5s ease;

}

@keyframes filterFlag {
    0% {
        filter: brightness(70%) drop-shadow(0 0 0 #FFD700);
        transform: scale(0.99);
    }
    50% {
        filter: brightness(150%) drop-shadow(0 0 10px #FFD700);
        transform: scale(1.01);
    }
    100% {
        filter: brightness(70%) drop-shadow(0 0 0 #FFD700);
        transform: scale(0.99);
    }
}

.home_title_container {
    width: 800px;
    height: 100%;
    margin-left: 60px;
}

.home_title {
    font-family: "Playfair", serif;
    padding-top: 140px;
    font-size: 85px;
    font-weight: bold;
    color: white;
}

.home_description {
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: "Playfair", serif;
}

.home_description_name {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home_title_text {
    padding-top: 40px;
    font-size: 25px;
    color: white;
    font-family: "Playfair", serif;
}

.home_title_txt {
    padding-top: 10px;
    font-size: 30px;
    color: white;
    font-family: "Playfair", serif;
}

.button_register {
    background: #850000;
    width: 260px;
    height: 60px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin: 140px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #5D0000,
    0 0 10px #5D0000,
    0 0 10px #5D0000;
    text-decoration: none;
    color: white;
}


.button_register:hover {
    background: #5f0000;
    color: #878787;
}

footer {
    background: #a41515;
    margin: 10px 0 0 0;
    width: 100%;
    height: 100px;
}


@media (max-width: 480px) {
    body {
        padding: 5px;
        font-size: 16px;
    }
    .container_home{
        width: 100%;
        height: 500px;
        background: none;
    }
    .container_home::after{
        width: 100%;
        left: 0;top: 0;
        right: 0;
    }
    .home_title_container{
        margin: 10px;
        width: 400px;
    }
    .home_title{
        margin: 20px 0 0 0;
        font-size: 45px;
        padding: 0;
    }
    .home_description{
        font-size: 30px;
    }
    .home_description_name {
        max-width: 100%;
    }
    .home_title_text {
        margin:10px 5px;
        font-size: 18px;
        padding: 0;
        font-family: "Playfair", serif;
    }
    .home_description_name{
        font-size: 25px;
    }

}
