
.container_home {
    background: url("../../images/back_home.png");
    background-size: cover;
    position: relative;
    height: 800px;
    margin-top: 10px ;
}

.container_home::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 500px;
    width: 1200px;
    height: 600px;
    background: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    animation: filterFlag 5s ease infinite;
    transition: 5s ease;

}

@keyframes filterFlag {
    0% {
        filter: brightness(100%) drop-shadow(0 0 0 #FFD700);
        transform: scale(0.99);
    }
    50% {
        filter: brightness(110%) drop-shadow(0 0 10px #FFD700);
        transform: scale(1.01);
    }
    100% {
        filter: brightness(100%) drop-shadow(0 0 0 #FFD700);
        transform: scale(0.99);
    }
}

.home_title_container {
    width: 800px;
    height: 100%;
    margin-left: 60px;
}

.home_title {
    font-family: "Poppins", serif;
    padding-top: 140px;
    font-size: 85px;
    font-weight: bold;
    color: white;
}

.home_description {
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: "Poppins", serif;
}

.home_description_name {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Poppins", serif;
}

.home_title_text {
    padding-top: 40px;
    font-size: 25px;
    color: white;
    font-family: "Poppins", serif;
}

.home_title_txt {
    padding-top: 10px;
    font-size: 30px;
    color: white;
    font-family: "Poppins", serif;
}

.button_register {
    background: #850000;
    width: 260px;
    height: 60px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin: 140px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #5D0000,
    0 0 10px #5D0000,
    0 0 10px #5D0000;
    text-decoration: none;
    color: white;
}


.button_register:hover {
    background: #5f0000;
    color: #878787;
}


@media (max-width: 480px) {
    body {
        padding: 5px;
        font-size: 16px;
    }
    .container_home{
        width: 100%;
        background: #5D0000;
        height: 80vh;
    }
    .container_home::after{
        width: 100%;
        left: 0;
        top: 280px;
        height: 350px;
        right: 0;
    }

    .home_title_container{
        margin: 10px;
        width: 350px;
        height: 400px  ;
    }
    .home_title{
        margin: 10px 0 0 0;
        padding-top: 10px;
        font-size: 40px;
    }
    .home_description{
        font-size: 30px;
    }
    .home_description_name {
        max-width: 100%;
    }
    .home_title_text {
        margin: 20px 5px;
        font-size: 18px;
        padding: 0;
        font-family: "Playfair", serif;
    }
    .home_title_txt{
        margin-top: -5px;
        font-size: 25px;
    }
    .home_description_name{
        font-size: 25px;
        margin-top: 30px !important;
    }
    .button_register {
        width: 140px;
        font-size: 15px ;
        height: 40px ;
        border-radius: 6px ;
        margin: 50px 0 0 0 ;
    }

}
